.terminal{
    margin: 0 auto;
    border: 3px solid #ac8ef6;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 15px 0 #6e3ce9;
    background: rgba(110, 60, 233, 0.05);   
    font-family: 'Cascadia Code', sans-serif;
    font-size: 20px;
}

.purple-container-line{
    width: stretch;
    border-top: 3px solid #ac8ef6;
    box-shadow: 0 0 15px 0 #6e3ce9;
}

.terminal-top{
    display: flex;
    flex-direction: column;
}

.terminal-top div{
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.terminal-top div p{
    margin-left: 10px;
}

.terminal-block{
    padding: 10px 18px;
    display: flex;
    flex-direction: column;
}

.loading{
    background-color: #ac8ef6;
    box-shadow: 0 0 15px 0 #6e3ce9;
}

.ctf-image{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.ctf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.ctf p{
    line-height: 23px;
    font-family: 'Pixel', sans-serif;
}

.ctf-profile{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.ctf-profile p{
    margin-left: 8px;
    font-family: 'Pixel', sans-serif;
}

.ctf-profile img{
    width: 400px;
    height: 50px;
}

.ctf-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 0 120px;
}

.information{
    position: relative;
    width: 600px;
}

.information-block{
    backdrop-filter: blur(4px);
    background: rgba(0, 153, 69, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information-border{
    border-bottom: 3px solid #0dbe3e;
    box-shadow: 0 0 7px 0 #009945;
}

.information-border-side{
    border-left: 3px solid #0dbe3e;
    box-shadow: 0 0 7px 0 #009945;
    height: stretch;
}

.information-block p{
    padding: 25px 49px 50px 49px;
}

.information-title, .score-title{
    z-index: 1000;
    position: absolute;
    margin-top: -18px;
}

.information-title{
    margin-left: 40px;
}

.scores{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.score-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

@media screen and (max-width: 768px){
    .terminal{
        font-size: 20px;
    }

    .terminal-top img{
        width: 80px;
        height: 30px;
    }

    .terminal-top div p{
        margin-left: 5px;
    }

    .ctf-image{
        font-size: 16px;
        line-height: 19px;
    }

    .ctf{
        padding: 30px 60px;
    }

    .ctf-profile{
        margin: 40px auto;
    }

    .ctf-info{
        flex-direction: column;
        margin-top: 70px;
        padding: 0 120px;
    }

    .scores{
        margin-top: 60px;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px){
    .terminal{
        font-size: 12px;
    }

    .terminal-top div{
        padding-left: 5px;
    }

    .terminal-top img{
        width: 65px;
        height: 24px;
    }

    .ctf-image{
        font-size: 7px;
        line-height: 8px;
        align-self: center;
        margin: 15px 0;
    }

    .terminal-block{
        padding: 10px;
    }

    .terminal-block p{
        line-height: 16px;
        text-wrap: wrap;
        width: 248px;
    }

    .terminal-top div p{
        margin-left: 3px;
    }

    .ctf, .ctf-profile{
        align-items: center;
    }

    .ctf p, .ctf-profile p{
        line-height: 20px;
        text-align: center;
        text-wrap: wrap;
        width: 180px;
    }

    .ctf{
        padding: 0;
    }

    .ctf-profile{
        margin: 20px auto;
    }

    .ctf-profile img{
        width: 200px;
        height: 25px;
    }

    .ctf-profile p{
        margin: 0 auto;
    }

    .information{
        width: 290px;
    }

    .information-block p{
        padding: 25px 49px;
    }

    .ctf-info{
        margin-top: 40px;
        padding: 0;
    }

    .score-list{
        width: 230px;
    }
}
