.terminal{
    margin: 0 auto;
    border: 3px solid #0dbe3e;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 7px 0 #009945;
    background: rgba(0, 153, 69, 0.05);
    font-family: 'Cascadia Code', sans-serif;
    font-size: 20px;
}

.terminal-top{
    display: flex;
    flex-direction: column;
}

.terminal-top div{
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.terminal-top div p{
    margin-left: 10px;
}

.terminal-block{
    padding: 10px 18px;
}

.screenfetch-image{
    font-weight: 700;
    font-size: 24px;
    background: linear-gradient(180deg, #0dbe3e 0%, #8eff01 100%);
    background-clip: text;
    text-shadow: 0 0 10px #009945;
    line-height: 28px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.screenfetch{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.screenfetch p{
    line-height: 23px;
}

.terminal-block a:hover{
    color: #eeff6c;
    text-shadow: 0 0 7px rgba(255, 243, 111, 0.5);
}

.whoami{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0px 60px;
}

.whoami a{
    margin: 15px 0 0 0;
}

.field-cards{
    margin: 50px 0;
}

.field-card{
    margin: 0 auto 40px auto;
    background: rgba(110, 60, 233, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
}

.field-card:hover{
    background: rgba(110, 60, 233, 0.07);
}

.field-card-border{
    border-left: solid 3px #AC8EF6;
    box-shadow: 0 0 7px #6e3ce9;
    height: stretch;
}

.field-card-content{
    margin: 10px 30px;
    display: flex;
    align-items: center;
}

.field-card-content div p{
    margin-top: 10px;
}

.field-card-img{
    height: 220px;
    width: 220px;
}

.system-message{
    margin: 0 auto;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 7px 0 #009945;
    background: rgba(0, 153, 69, 0.05);
    border: 3px solid #0dbe3e;
    max-width: 1036px;
    padding-bottom: 20px;
}

.system-message-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 30px;
}

.system-message-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2px 2px 15px;
}

.system-message-content p{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: right;
}

.system-message-content div{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.btn-join{
    background: url(../images/join-btn.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 380px;
    height: 110px;
}

.btn-join a{
   margin: 0 auto;
}

.facts {
    margin: 50px 30px 0 30px;
}

.fact {
    margin-bottom: 10px;
}

.fact-title {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: start;
}

.fact-title::before {
    content: '>';
    margin-right: 15px;
    color: #0dbe3e;
    text-shadow: 0 0 7px #009945;
    transition: transform 0.3s;
}

.fact-title.active-fact::before {
    content: '>';
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.fact-content {
    padding: 0 37px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.fact-content.fact-opened {
    max-height: 300px;
}

@media screen and (max-width: 768px){
    .terminal{
        font-size: 20px;
    }

    .terminal-top img{
        width: 80px;
        height: 30px;
    }

    .terminal-top div p{
        margin-left: 5px;
    }

    .screenfetch-image{
        font-size: 124x;
        line-height: 28px;
    }

    .field-card-content{
        flex-direction: column;
        text-align: center;
    }

    .screenfetch{
        flex-direction: column;
        align-items: start;
        padding: 0px 60px;
    }

    .system-message-content{
        flex-direction: column;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px){
    .terminal{
        font-size: 12px;
    }

    .terminal-top div{
        padding-left: 5px;
    }

    .terminal-top img{
        width: 65px;
        height: 24px;
    }

    .screenfetch-image{
        font-size: 10px;
        line-height: 12px;
        align-self: center;
    }

    .terminal-block{
        padding: 3px 10px;
    }

    .terminal-top div p{
        margin-left: 3px;
    }

    .screenfetch, .whoami{
        padding: 0px 8px;
    }

    .screenfetch p, .whoami p{
        line-height: 15px;
    }

    .whoami a{
        line-height: 16px;
    }

    .whoami{
        margin: 10px auto;
    }

    .fact-title {
        font-size: 12px;
    }

    .fact-content {
        font-size: 11px;
        padding: 0 33px;
    }

    .facts {
        margin: 10px 20px 0 20px;
    }
}
