.jury{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.grid-container {
    margin: 50px auto 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.jury-card-purple, .jury-card-green {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 280px;
    height: 380px;
}

.jury-card-purple p, .jury-card-green p{
    width: 180px;
    line-height: 30px;
    margin: 5px 0 0 0;
}

.jury-img{
    width: 162px;
    height: 162px;
    background-position: center;
    background-size: cover;
}

.jury-card-purple {
    background-image: url(../images/purple-border.png);
}

.jury-card-green {
    background-image: url(../images/green-border.png);
}

.jury-border-purple{
    background-image: url(../images/small-purple-border.png);
}

.jury-border-green{
    background-image: url(../images/small-green-border.png);
}

.jury-border-purple, .jury-border-green{
    width: 200px; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -15px;
}

@media screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }

    .jury{
        width: 719px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {   
    .grid-container {
        grid-template-columns: 1fr;
    }

    .jury-card-purple, .jury-card-green {
        width: 250px;
        height: 350px;
    }

    .jury-border-purple, .jury-border-green {
        width: 170px;
        height: 170px;
    }

    .jury-card-purple p, .jury-card-green p{
        width: 160px;
    }

    .jury-img{
        width: 135px;
        height: 135px;
    }
    
    h2{
        font-size: 20px;
    }

    .jury{
        width: 286px;
    }
}