.team{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.grid-container {
    margin: 50px auto 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-card-purple, .team-card-green {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 280px;
    height: 380px;
}

.team-card-purple p, .team-card-green p{
    width: 180px;
    line-height: 30px;
    margin: 5px 0 8px 0;
}

.team-border-purple img, .team-border-green img{
    width: 170px;
    height: 170px;
}

.team-card-purple {
    background-image: url(../images/purple-border.png);
}

.team-card-green {
    background-image: url(../images/green-border.png);
}

.team-border-purple{
    background-image: url(../images/small-purple-border.png);
}

.team-border-green{
    background-image: url(../images/small-green-border.png);
}

.team-border-purple, .team-border-green{
    width: 200px; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.achievements-purple img{
    width: 41px;
    height: 41px;
    box-shadow: 0 0 7px #6e3ce9;
    border: solid 3px #ac8ef6;
    margin-right: 20px;
}

.achievements-green, .achievements-purple{
    display: flex;
    align-items: center;
    width: 170px;
    align-self: start;
    margin-left: 45px;
}

.achievements-green img{
    width: 41px;
    height: 41px;
    box-shadow: 0 0 7px #009945;
    border: solid 3px #0dbe3e;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    }

    .achievements-purple img,
    .achievements-green img {
        width: 40px;
        height: 40px;
    }

    .team{
        width: 719px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {   
    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .team-card-purple, .team-card-green {
        width: 250px;
        height: 350px;
    }
    
    .team-border-purple, .team-border-green {
        width: 170px;
        height: 170px;
    }

    .team-card-purple p, .team-card-green p{
        width: 160px;
    }

    .team-border-purple img, .team-border-green img{
        width: 130px;
        height: 130px;
    }

    .achievements-green, .achievements-purple{
        width: 160px;
        margin-left: 45px;
    }
    
    .achievements-purple img,
    .achievements-green img {
        width: 35px;
        height: 35px;
    }

    .team{
        width: 286px;
    }
}