.team{
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.grid-container {
    margin: 50px auto 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-card-purple, .team-card-green {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 270px;
    height: 370px;
}

.team-card-purple p, .team-card-green p{
    width: 180px;
    line-height: 30px;
    margin: 5px 0 8px 0;
}

.team-img{
    width: 162px;
    height: 162px;
    background-position: center;
    background-size: cover;
}

.team-card-purple {
    background-image: url(../images/purple-border.png);
}

.team-card-green {
    background-image: url(../images/green-border.png);
}

.team-border-purple{
    background-image: url(../images/small-purple-border.png);
}

.team-border-green{
    background-image: url(../images/small-green-border.png);
}

.team-border-purple, .team-border-green{
    width: 200px; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    }

    .team{
        width: 719px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {   
    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .team-card-purple, .team-card-green {
        width: 225px;
        height: 325px;
    }
    
    .team-border-purple, .team-border-green {
        width: 170px;
        height: 170px;
    }

    .team-card-purple p, .team-card-green p{
        width: 160px;
    }

    .team-img{
        width: 135px;
        height: 135px;
    }
        
    .team{
        width: 286px;
    }
}